<html>
    <head>
        <title>Stamm goldene Eichen</title>
        
        <meta name="description" content="Stamm goldene Eichen aus Weigersdorf ist Mitglied der CPD. Christlicher Pfadfinderstamm aus Sachsen." />
        <meta name="keywords" content="CPD, Pfadfinder, Weigersdorf, goldene Eichen, Christliche, Pfadfinderschaft, Deutschland" />
        
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.css" />
        <link rel="stylesheet" type="text/css" href="/css/font-awesome.css" />
        <link rel="stylesheet" type="text/css" href="/css/main.css" />
        
        <script src="/js/jquery-2.2.0.min.js" ></script>
        <script src="/js/main.js" ></script>
    </head>
    <body>
        
        <div class="fr-sm-navigation visible-xs visible-sm">
            <div class="fr-menu-toogle" onclick="toogleSmNavigation()"><i class="fa fa-bars"></i></div>
            <div class="fr-brand">Stamm goldene Eichen</div>
        </div>
        
        
        <div class="container-fluid">
            <div class="col-md-2 fr-left-bar hidden-xs hidden-sm">
                <div class="row hidden-xs hidden-sm">
                    <div class="col-xs-8 col-xs-offset-2">
                        <img src="/img/wappen.png" class="fr-wappen" /> 
                    </div>
                </div>
         
                <div class="row">
                    <div class="col-xs-12 fr-navigation">
                        <ul class="fr-navigation">
                            <a href="/"><li>Startseite</li></a>
                            <a href="/aktuelles/"><li>Aktuelles</li></a>
                            <a href="/pages/mitglied-werden/"><li>Mitglied werden</li></a>
                            <a href="/pages/pfadfinder/"><li>Was bedeutet Pfadfinder</li></a>
                            <a href="/pages/bund/"><li>Was ist der Bund</li></a>
                            <a href="/pages/gallerie/"><li>Gallerie</li></a>
                            <a href="/pages/sippen/"><li>Unsere Sippen</li></a>
                            <a href="#"><li>Wölflinge</li></a>
                            <a href="/veranstaltungen/"><li>Termine</li></a>
                            <a href="/pages/kontakt/"><li>Kontakt</li></a>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-10 col-md-offset-2 fr-content">
